// build:js js/app.js
// inject:js
// endinject
// endbuild
footer
  .container
    img(src="/img/header-logo.png" srcset="/img/header-logo@2x.png 2x, /img/header-logo@3x.png 3x")
    p Радио 2 &copy; Все права защищены
