head
  title= 'Radio 2'
  meta(content='width=device-width,initial-scale=1,user-scalable=no' name='viewport')
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  if metaTitle
    meta(name='title' content=metaTitle)
  if metaDescription
    meta(name='description' content=metaDescription)
  if metaKeywords
    meta(name='keywords' content=metaKeywords)
  script(type='text/javascript' src='//vk.com/js/api/openapi.js?137')
  script.
    VK.init({apiId: 3754754, onlyWidgets: true});
  // build:css css/vendor.css
  // bower:scss
  // endbower
  // bower:css
  // endbower
  // endbuild

  // inject:css
  // endinject
