/**
 * http://rvrsrec.ru/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/SFUIText/SFUIText-Light.otf");
}

/** Ultra Light Italic */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/SFUIText/SFUIText-LightItalic.otf");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SFUIText/SFUIText-Regular.otf");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/SFUIText/SFUIText-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/SFUIText/SFUIText-MediumItalic.otf");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/SFUIText/SFUIText-Semibold.otf");
}

/** Semi Bold Italic */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/SFUIText/SFUIText-SemiboldItalic.otf");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/SFUIText/SFUIText-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/SFUIText/SFUIText-Bold.otf");
}

@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Regular.otf');
}

@font-face {
  font-family: "SFUIDisplay-Medium";
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Medium.otf');
}

@font-face {
  font-family: "SFUIDisplay-Heavy";
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Heavy.otf');
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Bold.otf');
}
