$brand-primary: #e22624;

$link-hover-decoration: none;

$navbar-default-bg: rgba(255, 255, 255, 0.96);
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 6.5%);
$navbar-height: 72px;
$navbar-margin-bottom: 0;

$input-bg: rgba(243, 243, 243, 0.96);
$input-border: rgba(243, 243, 243, 0.96);
$input-border-radius: 6px;
$input-border-focus: $brand-primary;
$input-color-placeholder: rgba(0, 0, 0, 0.24);

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$footer-height: 68px;

html {
  position: relative;
  min-height: 100%;
}

body {
  // font-family: "San Francisco","Helvetica Neue Roman",Helvetica,arial,sans-serif;
  font-family: "SFUIDisplay-Medium","Helvetica Neue Roman",Helvetica,arial,sans-serif;
  color: black;
  margin-bottom: $footer-height;
  .content {
    background-color: white;
    padding-top: $navbar-height;
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: $footer-height;
  padding: 20px 0;
  background-color: white;

  img, p { float: left; }
  p {
    padding: 5px 20px;
    color: rgba(0, 0, 0, 0.24);
  }
}

a {
  font-family: "SFUIDisplay-Regular";
}

.container {
  max-width: 940px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 80px;
    padding: 0 2px;
}

.header-col {
  padding: 0;
}

.navbar {

  .country-link {
    display: inline-block;
    padding: 25px 0 10px 10px;
    color: gray;
    img {
      width: 24px;
      height: 24px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 50%;
    }
  }

  .country-container {
    width: 100px;
    .country {
      padding: 5px 0;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .image-container {
        float: left;
        img {
          width: 24px;
          height: 24px;
          border: 1px solid rgba(0, 0, 0, 0.08);
          border-radius: 50%;
        }
      }

      p {
        padding: 5px 30px;
        margin: 0;
      }
    }
  }

  .navbar-form.search-form {
    .form-group, .form-control {
      width: 100%;
    }

    .form-group:before {
      position: absolute;
      top: 28px;
      left: 38px;
      font: 16px/1 'wr-icons';
      content: 'g';
      color: $input-color-placeholder;
    }

    .form-control {
      padding-left: 28px;
    }
  }

  .top-player {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.02);
    .artwork {
      max-height: $navbar-height;
      float: left;
      padding-right: 10px;
    }
    .overlay {
      outline: none;
      border: none;
      position: absolute;
      left: 0;
      width: $navbar-height;
      height: $navbar-height;
      background-color: rgba(0, 0, 0, 0.38);
    }

    .overlay.jp-pause {
      &:before, &:after {
        position: absolute;
        top: 22px;
        right: 37px;
        content: '';
        width: 10px;
        height: 26px;
        background-color: rgba(221, 221, 221, 1.0);
      }

      &:after {
        right: 22px;
      }
    }

    .overlay.jp-play {
      &:before {
        position: absolute;
        top: 20px;
        right: 20px;
        content: '';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;

        border-left: 25px solid rgba(221, 221, 221, 1.0);
      }
    }

    .track {
      padding-top: 16px;
      font-size: 16px;
    }
    .station {
      margin: 0;
      padding-bottom: 8px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
    .volume {
      float: right;
      padding: 22px 10px 0;
    }
  }

  .profile {
    padding: 15px 0 10px 10px;
    span {
      background-position: center;
      display: block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  i:before {
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.24);
  }

  .navbar-nav li a {
    padding-bottom: 5px;
  }

  .navbar-nav li.favorites {
    .popover-content {
      padding: 0px;
    }
  }
}

.favorites-container {
  width: 275px;
  .station {
    padding-top: 14px;
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .image-container {
      float: left;
      padding: 0 16px;
      img {
        max-width: 40px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 24%;
      }
    }
    p {
      margin-bottom: 0;
      margin-left: 74px;
    }
    .title {
      font-size: 16px;
    }
    .category {
      font-size: 13px;
      padding-bottom: 14px;
      color: rgba(0, 0, 0, 0.38);
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
  }

  .station.active {
    background-color: rgba(226, 38, 35, 0.04);
    .title {
      color: $brand-primary;
    }
  }
}

.category-container {
  padding: 0 0 24px;
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f9);

  .toggle-btn {
    font-size: 16px;
    margin-top: 20px;
  }
  .category-title h2 {
    padding: 5px 0 10px;
    font-family: "SFUIDisplay-Heavy";
    font-size: 1.6em;
  }

  .station-container {
    .slidable { display: none; }
    .station {
      text-align: center;

      a.player {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }

      a.favorite {
        position: absolute;
        top: -3px;
        right: 8px;
        color: white;
        background-color: $brand-primary;
        padding: 5px 6px 2px;
        border-radius: 50%;
      }

      .favorite:before {
        font: 16px/1 'wr-icons';
        content: 'a';
      }
      .favorite.add:before { content: 'b';}

      .favorite.add { display: none; }
      &:hover > .favorite.add { display: inline; }

      .image-container {
        img {
          max-width: 100%;
          border: 2px solid rgba(0, 0, 0, 0.08);
          border-radius: 24%;
        }
      }

      .title-container p {
        padding: 10px 0;
      }
    }
  }
}

.player-container {
  padding-top: 32px;

  .current-artwork {
    max-width: 100%;
  }
  .current-title {
    font-size: 24px;
    font-family: "SFUIDisplay-Heavy";
  }
  .current-artist {
    font-family: "SFUIDisplay-Regular";
  }
  .buttons {
    overflow: hidden;
    a {
      display: block;
      float: left;
      margin: 10px 10px 0 0;
    }
    img {
      max-height: 40px;
    }
  }
  .station-info {
    font-family: "SFUIDisplay-Regular";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }
  .download-buttons {
    img {
      height: 50px;
    }
  }
}

.playlist {
  .song {
    padding: 5px 0;

    .artwork {
      float: left;
      max-width: 48px;
      margin-right: 20px;
    }
    .title {
      font-size: 16px;
      font-family: "SFUIDisplay-Bold";
      margin-bottom: 6px;
    }
    .artist {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
    .actions {
      a {
        &:last-child {
          padding-left: 10px;
        }
        font-size: 2em;
        color: rgba(0, 0, 0, 0.24);

        i:before {
          font-size: 1.6em;
        }
      }
      .remove-favorite {
        position: absolute;
        right: 13px;
        color: $brand-primary;
      }
    }
    .share, .add-favorite { display: none; }
    &:hover > .actions .share, &:hover > .actions .add-favorite { display: inline; }
  }
}
