@font-face {
    font-family: 'wr-icons';
    src: url('../fonts/wr-icons/wr-icons-webfont.eot');
    src: url('../fonts/wr-icons/wr-icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wr-icons/wr-icons-webfont.woff2') format('woff2'),
         url('../fonts/wr-icons/wr-icons-webfont.woff') format('woff'),
         url('../fonts/wr-icons/wr-icons-webfont.ttf') format('truetype'),
         url('../fonts/wr-icons/wr-icons-webfont.svg#wr-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.wr {
  font: 14px/1 'wr-icons';
  font-style: normal;
}

i.wr.wr-filled-star:before   { content: 'a' }
i.wr.wr-star:before          { content: 'b' }
i.wr.wr-heart:before         { content: 'c' }
i.wr.wr-filled-heart:before  { content: 'd' }
i.wr.wr-share:before         { content: 'e' }
i.wr.wr-play:before          { content: 'f' }
i.wr.wr-glass:before         { content: 'g' }
i.wr.wr-volume:before        { content: 'h' }
