- var page = 'index'
- var metaTitle = 'Radiotoolkit'
- var metaDescription = 'Radiotoolkit is the most powerful'
- var metaKeywords = 'radio tool kit'
doctype html
html(lang='en')
  include partials/_head.pug
  body
    .visible-xs.text-center
      h2 Скачайте приложение по&nbsp;
        a(href="javascript:void(0);") ссылке
    .hidden-xs
      nav.navbar.navbar-default
        .container
          .col-sm-2.header-col
            .navbar-header
              a.navbar-brand(href="/")
                img(src="/img/header-logo.png" srcset="/img/header-logo@2x.png 2x, /img/header-logo@3x.png 3x")
              a.country-link.ppvr(href="javascript:void(0);" data-html="true" data-toggle="popover" data-placement="bottom" data-content='<div class="country-container"><div class="country"><a href="/"></a><div class="image-container"><img src="http://flags.fmcdn.net/data/flags/mini/ca.png"/></div><p class="title">Canada</p></div><div class="country"><a href="/"></a><div class="image-container"><img src="http://flags.fmcdn.net/data/flags/mini/es.png"/></div><p class="title">Spain</p></div><div class="country"><a href="/"></a><div class="image-container"><img src="http://flags.fmcdn.net/data/flags/mini/it.png"/></div><p class="title">Italy</p></div></div>')
                img(src="http://flags.fmcdn.net/data/flags/mini/ru.png")
                span.caret
          .col-sm-8
            form.navbar-form.search-form
              .form-group
                input.form-control(placeholder="Название станции")
          .col-sm-2
            ul.nav.navbar-nav.pull-right
              li
                a(href="/") Войти
      .category-container
        .container
          .category-title
            h2 Deep House
          .station-container.row
            .station.col-sm-2
              a.player(href="/player.html") &nbsp;
              a.favorite.add(href="")
              a.favorite(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg")
              .title-container
                p Sound Park #Deep
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://img-fotki.yandex.ru/get/3305/43753509.9/0_113f57_db32bbfa_orig")
              .title-container
                p DFM deep
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://pp.vk.me/c636422/v636422950/35787/q_ZTBtFUBY4.jpg")
              .title-container
                p СВОЕ FM
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/95/wa4pu80i5ka0c3fs.jpg")
              .title-container
                p Русское радио
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="http://lh5.ggpht.com/-B_XocwaItts/VNoq-aXRTAI/AAAAAAAAAxk/EtS_7Kt0QqU/uploaded4492032686667260580tmp.png")
              .title-container
                p Зайцев.FM Pop
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="http://lh5.ggpht.com/-gwc4Egq1OaY/VMpI6dT1-UI/AAAAAAAAAeI/gj1dqYxBnzQ/uploaded4077191892612546583tmp.png")
              .title-container
                p Вести.FM
      .category-container
        .container
          a.toggle-btn.pull-right(href="") Показать все
          .category-title
            h2 Топ 40
          .station-container
            .row
              .station.col-sm-2
                a.favorite.add(href="")
                .image-container
                  img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/95/wa4pu80i5ka0c3fs.jpg")
                .title-container
                  p Русское радио
              .station.col-sm-2
                a.favorite.add(href="")
                a.favorite(href="")
                .image-container
                  img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/08/gskgosn34huxs8og.jpg")
                .title-container
                  p Русский Хит
              .station.col-sm-2
                a.favorite.add(href="")
                .image-container
                  img.lazy(src="/img/placeholder.png" data-original="https://pp.vk.me/c627724/v627724028/2ce36/qF6vNvq4dB4.jpg")
                .title-container
                  p Новое радио
              .station.col-sm-2
                a.favorite.add(href="")
                .image-container
                  img.lazy(src="/img/placeholder.png" data-original="http://lh5.googleusercontent.com/-itFgPkRlHZk/UxluFa_aPAI/AAAAAAAAWxk/R-FPDllR9Fw/%252527278%252527.jpg")
                .title-container
                  p Russian Mix
              .station.col-sm-2
                a.favorite.add(href="")
                .image-container
                  img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/08/gskgosn34huxs8og.jpg")
                .title-container
                  p Premium - Русский
              .station.col-sm-2
                a.favorite.add(href="")
                .image-container
                  img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/95/wa4pu80i5ka0c3fs.jpg")
                .title-container
                  p Русское FM
            .slidable
              .row
                .station.col-sm-2
                  a.favorite.add(href="")
                  .image-container
                    img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/08/gskgosn34huxs8og.jpg")
                  .title-container
                    p Premium - Русский
                .station.col-sm-2
                  a.favorite.add(href="")
                  .image-container
                    img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/95/wa4pu80i5ka0c3fs.jpg")
                  .title-container
                    p Русское FM
                .station.col-sm-2
                  a.favorite.add(href="")
                  .image-container
                    img.lazy(src="/img/placeholder.png" data-original="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg")
                  .title-container
                    p Sound Park #Deep
                .station.col-sm-2
                  a.favorite.add(href="")
                  .image-container
                    img.lazy(src="/img/placeholder.png" data-original="https://img-fotki.yandex.ru/get/3305/43753509.9/0_113f57_db32bbfa_orig")
                  .title-container
                    p DFM deep
                .station.col-sm-2
                  a.favorite.add(href="")
                  .image-container
                    img.lazy(src="/img/placeholder.png" data-original="http://lh5.ggpht.com/-B_XocwaItts/VNoq-aXRTAI/AAAAAAAAAxk/EtS_7Kt0QqU/uploaded4492032686667260580tmp.png")
                  .title-container
                    p Зайцев.FM Pop
                .station.col-sm-2
                  a.favorite.add(href="")
                  .image-container
                    img.lazy(src="/img/placeholder.png" data-original="http://lh5.ggpht.com/-gwc4Egq1OaY/VMpI6dT1-UI/AAAAAAAAAeI/gj1dqYxBnzQ/uploaded4077191892612546583tmp.png")
                  .title-container
                    p Вести.FM
      .category-container
        .container
          .category-title
            h2 Новостные и разговорные
          .station-container.row
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg")
              .title-container
                p Sound Park #Deep
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://img-fotki.yandex.ru/get/3305/43753509.9/0_113f57_db32bbfa_orig")
              .title-container
                p DFM deep
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://pp.vk.me/c636422/v636422950/35787/q_ZTBtFUBY4.jpg")
              .title-container
                p СВОЕ FM
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="https://163207.selcdn.ru//radio2-stationimages/95/wa4pu80i5ka0c3fs.jpg")
              .title-container
                p Русское радио
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="http://lh5.ggpht.com/-B_XocwaItts/VNoq-aXRTAI/AAAAAAAAAxk/EtS_7Kt0QqU/uploaded4492032686667260580tmp.png")
              .title-container
                p Зайцев.FM Pop
            .station.col-sm-2
              a.favorite.add(href="")
              .image-container
                img.lazy(src="/img/placeholder.png" data-original="http://lh5.ggpht.com/-gwc4Egq1OaY/VMpI6dT1-UI/AAAAAAAAAeI/gj1dqYxBnzQ/uploaded4077191892612546583tmp.png")
              .title-container
                p Вести.FM
      include partials/_footer.pug
