- var page = 'index'
- var metaTitle = 'Radiotoolkit'
- var metaDescription = 'Radiotoolkit is the most powerful'
- var metaKeywords = 'radio tool kit'
doctype html
html(lang='en')
  include partials/_head.pug
  body
    .visible-xs.text-center
      h2 Скачайте приложение по&nbsp;
        a(href="javascript:void(0);") ссылке
    .hidden-xs
      nav.navbar.navbar-default
        .container
          .col-sm-2
            .navbar-header
              a.navbar-brand(href="/")
                img(src="/img/header-logo.png" srcset="/img/header-logo@2x.png 2x, /img/header-logo@3x.png 3x")
          .col-sm-7.top-player
            #player
            img.artwork(src="http://lh4.googleusercontent.com/-6WxCZXVTs7Y/UxlqhrlUnoI/AAAAAAAAVs0/sxbvT4A2-6o/%25252726%252527.jpg")
            button.overlay.jp-play
            button.overlay.jp-pause
            a.volume.ppvr(href="javascript:void(0);" data-html="true" data-toggle="popover" data-placement="bottom" data-content='<input id="player-volume" type="range" min="0" max="1" step="0.01" orient="vertical"/>')
              i.wr.wr-volume
            p.track.jp-title The Weekend feat. Daft Punk - Starboy (Vicetone Remix)
            p.station Record
          .col-sm-3
            ul.nav.navbar-nav.pull-right
              li.favorites
                a.ppvr(href="javascript:void(0);" data-html="true" data-toggle="popover" data-placement="bottom" data-content='<div class="favorites-container"><div class="station"><a href="/player.html"></a><div class="image-container"><img src="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg"/></div><p class="title">Sound Park #Deep</p><p class="category">Deep House</p></div><div class="station"><a href="/player.html"></a><div class="image-container"><img src="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg"/></div><p class="title">Sound Park #Deep</p><p class="category">Deep House</p></div><div class="station active"><a href="/player.html"></a><div class="image-container"><img src="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg"/></div><p class="title">Sound Park #Deep</p><p class="category">Deep House</p></div><div class="station"><a href="/player.html"></a><div class="image-container"><img src="https://pp.vk.me/c630217/v630217355/1d8c0/Qs6lNTcjWl0.jpg"/></div><p class="title">Sound Park #Deep</p><p class="category">Deep House</p></div></div>')
                  i.wr.wr-star
              li
                a(href="/")
                  i.wr.wr-glass
              li
                a(href="/").profile
                  span(style="background-image: url(https://thoughtcatalog.files.wordpress.com/2016/12/kvnsukfuynq-sergey-zolkin.jpg?w=80)")
      .player-container
        .container
          .row
            .col-sm-5
              img.current-artwork(src="http://is4.mzstatic.com/image/thumb/Music62/v4/82/5b/e4/825be489-3cea-e52f-61a3-5457324c8a4e/source/600x600bb.jpg")
              h2.current-title Starboy (Vicetone Remix)
              p.current-artist The Weekend feat. Draft Punk
              .buttons
                a(href="/")
                  img(src="/img/buttons/US_Listen_on_Apple_Music_Badge.svg")
                a(href="/")
                  img(src="/img/buttons/Get_it_on_iTunes_Badge_US_1114.svg")
                a(href="/")
                  img(src="/img/buttons/logo-zvooq.png")
                a(href="/")
                  img(src="/img/buttons/yandex_music.svg")
                a(href="/")
                  img(src="/img/buttons/vk.png")
              hr
              .station-info
                p История Радио Рекорд началась в Петербурге, в небольшой студии на Петроградской стороне. Впервые Рекорд вышел в эфир 22 августа 1995 года. Спустя два года станция стала 24 часа играть танцевальную музыку, изменив первоначальный формат.
                p Чтобы получить реакцию слушателей на новую для них музыку, Рекорд предложил им собраться на импровизированный open-air перед зданием, где располагалась студия. Из пары колонок, выставленных в окнах, звучала танцевальная музыка. Неожиданная идея собрала под окнами Рекорда тысячи молодых людей, не желавших расходиться даже после того, как звук был выключен.
                p Благодаря искреннему энтузиазму этих ребят создатели станции приняли окончательное решение: именно такая музыка должна звучать в эфире радиостанции. Так появилось первое танцевальное радио России и началась история фестивалей Рекорда.
                p С тех пор прошло уже более 20 лет. Танцевальная музыка стала ведущим мировым трендом, а Рекорд слушают миллионы людей в России и за её пределами. Российские электронные музыканты, выросшие вместе с Рекордом, на равных с зарубежными звёздами занимают ведущие строчки мировых чартов.
                p Сегодня Рекорд – это не только одна из ведущих радиостанций в стране, но и крупнейшая event-компания, известный музыкальный лейбл и главный российский букинг-оператор в сфере электронной музыки.
              br
              .download-buttons
                a(href="/")
                  img(src="/img/buttons/google_play.png")
                a.pull-right(href="/")
                  img(src="/img/buttons/appstore.svg")
            .col-sm-7
              .playlist.container-fluid
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is4.mzstatic.com/image/thumb/Music62/v4/82/5b/e4/825be489-3cea-e52f-61a3-5457324c8a4e/source/48x48bb.jpg")
                    p.title Starboy (Vicetone Remix)
                    p.artist The Weekend feat. Draft Punk
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is2.mzstatic.com/image/thumb/Music71/v4/ec/76/ee/ec76ee36-4e79-f391-1e07-508f93b6fcf8/source/48x48bb.jpg")
                    p.title Ain’t My Fault (rakurs Remix)
                    p.artist Zara Larsson
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is3.mzstatic.com/image/thumb/Music20/v4/f0/87/22/f0872223-3795-01fc-7829-9caafd45bab2/source/60x60bb.jpg")
                    p.title Black Beatles (makj Remix)
                    p.artist Rae Sremmurd Feat Gucci Mane
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is2.mzstatic.com/image/thumb/Music71/v4/59/98/e4/5998e414-46ba-0e7f-a485-db75b190a348/source/60x60bb.jpg")
                    p.title Lordly
                    p.artist Feder/alex Aiono
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is5.mzstatic.com/image/thumb/Music71/v4/e8/47/02/e84702f9-82bf-5a2c-7ffd-fb43946c70fd/source/60x60bb.jpg")
                    p.title Kisses Back (denis First Remix)
                    p.artist Matthew Koma
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is5.mzstatic.com/image/thumb/Music111/v4/ab/54/08/ab5408b5-cac0-5a07-9f35-993628a1b0a8/source/60x60bb.jpg")
                    p.title Let Me Think About It (rudeejay & Da Brozz)
                    p.artist Ida Corr Vs Fedde Le Grand
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                    a.remove-favorite.pull-right(href="")
                      i.wr.wr-filled-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is4.mzstatic.com/image/thumb/Music62/v4/82/5b/e4/825be489-3cea-e52f-61a3-5457324c8a4e/source/48x48bb.jpg")
                    p.title Starboy (Vicetone Remix)
                    p.artist The Weekend feat. Draft Punk
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is2.mzstatic.com/image/thumb/Music71/v4/ec/76/ee/ec76ee36-4e79-f391-1e07-508f93b6fcf8/source/48x48bb.jpg")
                    p.title Ain’t My Fault (rakurs Remix)
                    p.artist Zara Larsson
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is3.mzstatic.com/image/thumb/Music20/v4/f0/87/22/f0872223-3795-01fc-7829-9caafd45bab2/source/60x60bb.jpg")
                    p.title Black Beatles (makj Remix)
                    p.artist Rae Sremmurd Feat Gucci Mane
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is2.mzstatic.com/image/thumb/Music71/v4/59/98/e4/5998e414-46ba-0e7f-a485-db75b190a348/source/60x60bb.jpg")
                    p.title Lordly
                    p.artist Feder/alex Aiono
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is5.mzstatic.com/image/thumb/Music71/v4/e8/47/02/e84702f9-82bf-5a2c-7ffd-fb43946c70fd/source/60x60bb.jpg")
                    p.title Kisses Back (denis First Remix)
                    p.artist Matthew Koma
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                .row.song
                  .col-sm-10
                    img.artwork(src="http://is5.mzstatic.com/image/thumb/Music111/v4/ab/54/08/ab5408b5-cac0-5a07-9f35-993628a1b0a8/source/60x60bb.jpg")
                    p.title Let Me Think About It (rudeejay & Da Brozz)
                    p.artist Ida Corr Vs Fedde Le Grand
                  .col-sm-2.actions
                    a.share(href="")
                      i.wr.wr-share
                    a.add-favorite.pull-right(href="")
                      i.wr.wr-heart
                    a.remove-favorite.pull-right(href="")
                      i.wr.wr-filled-heart
          hr
          #vk_comments
          script.
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "940", attach: "*"})
      include partials/_footer.pug
      script.
        function createWebsocket(streamUrl) {
          var websocket = new WebSocket("wss://metadata.radio2.me/metadata/?sendCurrent=true&streamUrl="+streamUrl);
          websocket.onmessage = function(event) {
            console.log("Получены данные " + event.data);
            var metadata = JSON.parse(event.data)
            $('<div class="row song"><div class="col-sm-12"><img class="artwork" src="/img/placeholder.png"/><p class="title">'+metadata.song.title+'</p><p class="artist">'+metadata.song.artist+'</p></div></div>').prependTo('.playlist');
            // remove last song from playlist
            if ($(".playlist").children().length > 20) {
              $(".playlist .song").last().remove();
            }
          };
          websocket.onclose = function(event) {
            if (event.wasClean) {
              console.log("Соединение закрыто")
            } else {
              console.log('Обрыв соединения');
            }
          };
          return websocket;
        }

        var streamUrl = "http://getradio.me/spdeep"; // TODO: load this with AJAX
        var ws = createWebsocket(streamUrl);
        setInterval(function(){
          if (ws.readyState==ws.CLOSED){
          	ws = createWebsocket(streamUrl);
          }
        }, 2000);

        $("#player").jPlayer({
          supplied: "mp3",
          swfPath: "/js",
          verticalVolume: "true",
          cssSelectorAncestor: ".top-player",
          ready: function() {
            $(this).jPlayer("setMedia", {
              mp3: streamUrl,
            }).jPlayer("play");
            console.log('Player ready');
          },
          suspend: function() {
            console.log('suspend');
            $(this).delay(400).jPlayer("play");
          },
          error: function() {
            console.log('error');
            $(this).delay(400).jPlayer("play");
          },
          //- loadstart: function() {console.log('loadstart');},
          //- abort: function() {console.log('abort');},
          //- emptied: function() {console.log('emptied');},
          //- loadedmetadata: function() {console.log('loadedmetadata');},
          //- loadeddata: function() {console.log('loadeddata');},
          //- canplay: function() {console.log('canplay');},
          //- seeking: function() {console.log('seeking');},
          //- seeked: function() {console.log('seeked');},
          //- ended: function() {console.log('ended');},
        });
